In [1]:
home_directory = "/Volumes/GoogleDrive/My Drive/Spring 2021/Text as Data/final_project/"
data_directory = "data/reddit"

In [8]:
import os
import pandas as pd

In [3]:
raw_data_dir = f"{home_directory}{data_directory}"

In [7]:
daily_discussion_fnames = [f for f in os.listdir(raw_data_dir) if  f.startswith('comments_daily_')]

In [9]:
daily_dfs = [pd.read_csv(f"{raw_data_dir}/{fname}") for fname in daily_discussion_fnames]

In [10]:
full_daily_dataset = pd.concat(daily_dfs)

In [11]:
full_daily_dataset.head(5)

,sub_id,body,score,author,created_utc,Unnamed: 0
0,mqndra,I am unhappy with the change. I think it's a m...,1,zjz,1.618423e+09,NaN
1,mqndra,If my 8 months of experience of gambling on th...,163,whitesquirrle,1.618399e+09,NaN
2,mqndra,Palantired of this shit,84,24kSolidGold,1.618420e+09,NaN
3,mqndra,Puts on my Tesla puts,78,Pumpty_Dumpty,1.618397e+09,NaN
4,mqndra,Is it really possible for PLTR to be green twi...,72,HelloWorld0921,1.618404e+09,NaN

In [15]:
full_daily_dataset.count()[0]

632638

In [12]:
comment_exclusion = ['[deleted]', '[removed]']

cleaned_data = full_daily_dataset[~full_daily_dataset['body'].isin(comment_exclusion)]

In [16]:
cleaned_data.count()[0]

619646

In [21]:
min_date_arr, max_date_arr = list(cleaned_data.agg({"created_utc": ["min", "max"]}).values)

In [22]:
min_date = min_date_arr[0]
max_date = max_date_arr[0]

In [24]:
min_date, max_date

(1614250838.0, 1618692612.0)

In [25]:
sorted_cleaned_dataset = cleaned_data.sort_values(by=['sub_id','created_utc']).reset_index(drop=True)

In [26]:
sorted_cleaned_dataset[['sub_id','created_utc','body', 'score', 'author']].to_csv(f'')

,sub_id,body,score,author,created_utc,Unnamed: 0
0,ls42x6,first,7,I_make_switch_a_roos,1.614251e+09,13372.0
1,ls42x6,Rise and shine bitches,41,LitenVarg,1.614251e+09,304.0
2,ls42x6,Here we go. ðŸš€,14,readingtostrangers,1.614251e+09,581.0
3,ls42x6,GME to 420.69 EOD,14,wottsraja,1.614251e+09,8523.0
4,ls42x6,Second retard,2,AceSouth,1.614251e+09,13391.0
...,...,...,...,...,...,...
619641,mqndra,Fuck you spacemobile ASTS,1,fickdichdock,1.618587e+09,NaN
619642,mqndra,:( I guess if we hit 15k midway through thatâ€™l...,1,BoughtreeFidee,1.618588e+09,NaN
619643,mqndra,Oof. You buying yet!? Lol,1,jungl3_junki3,1.618588e+09,NaN
619644,mqndra,"I actually would, but I can't babysit it today...",1,NrdRage,1.618589e+09,NaN
619645,mqndra,I didnâ€™t buy thanks to you! Am checking it at ...,1,jungl3_junki3,1.618589e+09,NaN

In [30]:
sorted_cleaned_dataset[['sub_id','created_utc','body', 'score', 'author']].to_csv(f"/Users/ameliachu/repos/nlu-reddit-toxicity-dataset/data/daily_master_data_{int(min_date)}_{int(max_date)}.csv")